@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: #FFF;
}

.input-group{
    @apply flex;
    @apply opacity-50;
    @apply bg-zinc-100;
    @apply rounded-xl;
    @apply py-3;
    @apply px-5;
    @apply gap-4;
    
    input, textarea{
        @apply opacity-50;
        @apply bg-zinc-100;
        @apply flex-1;

        &:focus-visible {
            @apply outline-none;
        }
    }

    &::after{
        @apply inline-block;
        @apply my-auto;
        @apply bg-center;
        @apply bg-no-repeat;

        content: "";

        width: 1.0625rem;
        height: 1.125rem;
        flex-shrink: 0;

    }

    &.user-ico::after{
        background-image: url(/user_icon.svg);
    }

    &.phone-num-ico::after{
        background-image: url(/phone_num_icon.svg);
    }

    &.dropdown-ico::after{
        background-image: url(/dropdown_icon.svg);
    }

    &.message-ico::after{
        background-image: url(/message_icon.svg);
    }

}

.style-btn {
    @apply mt-9;
    @apply inline-flex;
    @apply cursor-pointer;
    @apply gap-3;


    .content{
        @apply my-auto;
    }

    &::before{
        @apply inline-block;
        @apply bg-cover;
        @apply relative;

        content: " ";
        width: 40.117px;
        height: 47px;
        left: 30px;
        background-image: url(/elc7.png);
    }
    
    &::after{
        @apply inline-block;
        @apply bg-cover;
        @apply my-auto;

        content: " ";
        width: 28px;
        height: 22px;
        background-image: url(/thin_long_02_right.png);
    }
}

.after-top::after{
    @apply mt-1;
}
